<section id="tarjetas">
  <div class="container-tarjetas">
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
    <div class="card">
      <img src="assets/vinilos.png">
      <p>Antes de Ameri</p>
      <p>Duki</p>
      <p>200M Reproducciones</p>
    </div>
  </div>
</section>
